.App {
  text-align: center;
}
.container {
  max-width: 1200px auto;
}
#AdminCardrow {
  flex-wrap: nowrap;
}
.col-sm-6 {
  width: 33%;
}
.AdminDashboard-sideNav-a {
  display: block;
  padding: 0.7rem 1rem;
}
.AdminDashboard-sideNav-li {
  padding: 5px 0;
}
.navbar-light .navbar-brand {
  color: #4D4D4D;
}
div#v-pills-tab {
  box-shadow: 0 0 20px 1px #8a8a8a69;
}
a.nav-link.link-dark {
  color: #c1c1c1;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
