.AdminUserList {
  width: 75%;
  margin: 50px 0;
  padding: 0 20px;
}
#AdminUserListParent{
  background-color: #F8F8F8;
  width: 100%;
}
.AdminUserList h4 {
  color: #4d4d4d;
  text-align: left;
  font-weight: bold;
  padding: 20px 0;
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 600;
}
.AdminUserList table {
  margin: 20px 0;
}
.AdminUserList table tr {
  background-color: white;
}