.adminDashMain{
    justify-content: space-between;
}
#adminNavContainer{
    max-width: 1200px auto;
}
.navLeft{
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    /* width: 22%; */
}

.navDiv{
    display: flex;
    justify-content: space-between;
    background-color: red;
    width: 100%;
}

.navRight{
    justify-content: space-between;
    display: flex;
    gap: 2em;
    align-items: center;
 }
 .AdminDashboardMiddle{
     display: flex;
 }
 .AdminDashboardMiddle{
     width: 100%;
     display:block;
 }
 .AdminDashboardMiddleMain{
     display: flex;
 }