.topUpdate {
  display: flex;
  justify-content: space-between;
  margin-right: 80px;
}

.editinfo {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-right: 85px;
}

.images {
  display: flex;
  justify-content: space-around;
}
