.buttons {
    display: flex;
    justify-content: space-evenly;
  }
  .AdminRecentRequests{
      margin: 50px 0;
  }
  .AdminRecentRequests h2{
      color: #4D4D4D;
      text-align: left;
      font-weight: bold;
  }
  #RecentRequestsTable th{
    font-weight: bold;
    color: #3D3D3D;
  }
  #RecentRequestsTable td{
    color: #3D3D3D;
    font-weight: 500;
  
  }